
<div class="card" style="width: 18rem;">
  <img src="../../../assets/images/GTAV.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">GTA V</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

</div>

<div class="card" style="width: 18rem; margin-left: 380px; margin-top: -570px;">
  <img src="../../../assets/images/GUDUGUAR.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">God of War: Ragnarok</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin-left: 770px; margin-top: -570px;">
  <img src="../../../assets/images/EMBAPE.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">FIFA 22</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

